<section class="voting-question">
  {{> @question }}
  <!-- START Formular -->
  <div class="form-group">
    <!-- zuerst die Antwortauswahl zur Frage -->
    {{#checkboxes}}
    {{> @voting-checkbox }}
    {{/checkboxes}}
    {{#radios}}
    {{> @voting-radio }}
    {{/radios}}
  </div>

  <!-- Die Antwortauswahl oben durch diese Liste ausgetauscht als direktes Feedback oder später -->
  <!-- END Formular -->
  {{> @voting-answer }}
</section>
<!-- /.voting-question -->