// ----------------------------------------------------------------------
// $SPACES
// ----------------------------------------------------------------------
$value-2  : 2px;
$value-3  : 3px;
$value-4  : 4px;
$value-6  : 6px;
$value-8  : 8px;
$value-9  : 9px;
$value-10 : 10px;
$value-11 : 11px;
$value-12 : 12px;
$value-14 : 14px;
$value-15 : 15px;
$value-16 : 16px;
$value-20 : 20px;
$value-24 : 24px;
$value-25 : 25px;
$value-28 : 28px;
$value-30 : 30px;
$value-40 : 40px;
$value-48 : 48px;
$value-60 : 60px;

$value-one-col : 8.3333%;
$value-two-col : 16.6666%;

// ----------------------------------------------------------------------
// $TRANSITION-DURATION
// ----------------------------------------------------------------------
$transition-short : 0.15s;
$transition-middle : 0.5s;
$transition-long : 1s;

// ----------------------------------------------------------------------
// $Letter Spacing
// ----------------------------------------------------------------------
$letter-spacing-00 : 0;
$letter-spacing-01 : 0.1px;
$letter-spacing-02 : 0.2px;
$letter-spacing-015 : 0.15px;
$letter-spacing-03 : 0.3px;
$letter-spacing-05 : 0.5px;
$letter-spacing-07 : 0.7px;
$letter-spacing-10 : 1px;
$letter-spacing-15 : 1.5px;

// ----------------------------------------------------------------------
// $GRADIENTS
// ----------------------------------------------------------------------

// Bilderpfad
$image-path : "../images/swr/";

//Beispiel: #{$image-path}dateiname.svg


// alert
$theme-alert-bar-width: 1;
$theme-alert-font-family: "ui";
$theme-alert-icon-size: 4;
$theme-alert-padding-x: 2.5;